body{
  background-image: url("pharma.jpg");
  border: 20px groove #03fc8c;
  margin:0;
  padding: 1% 15%;
  text-align: center;
  border-top: 0;
  font-family: 'Source Sans Pro', sans-serif;

}
p{
  text-align: justify;
}
form{
  margin:20px;
  font-size:1.5em;
  color:yellow;
  font-weight: 900;

}
h2{
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 5px;
  font-weight: 800;
  font-size: 2em;
}
h3{
  letter-spacing: 5px;
}
#submit{
  height:70px;
  width:120px;
  border-radius: 20px;
  background: #fc8803;
  font-size: .9em;
  margin-top: 20px;
}
