h1{
  font-family: 'Anton', sans-serif;
  text-align: center;
}
td{
  height:300px;
  width:150px;
  border: 5px solid white;
}
#one{
  background:#8B00FF;
}
#two{
  background: #2E2B5F;
}
#three{
  background: #0000FF;
}
#four{
  background: #00FF00;
}
#five{
  background: #FFFF00;
}
#six{
  background: #FF7F00;
}
#seven{
  background:  #FF0000;
}
table{
  margin: auto;

}
